<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Sobre</ion-title>
        <ion-img routerLink="/job" src="assets/em01.jpg" slot="end" class="logo-geral"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
   

    <h2>Quem somos?</h2>
    <ion-img src="assets/em01.jpg" class="logo-about"></ion-img>
    <p>Somos estudantes do senac,criando um projeto para a conclusão do curso, que visa ajudar pessoas com problemas, a princípio, caseiros.</p>
    <p></p>
    <p>
        Somos um aplicativo que conecta 
        clientes e profissionais, com mais de 500 tipos de serviços disponíveis. 
        Nascemos em 2021, com o propósito de conectar quem precisa com quem sabe fazer. 
        E desejamos ajudar quem precisa com muito empenho e prestatividade.Para isso, buscamos desenvolver 
        em todo profissional suas habilidades, pois acreditamos 
        que em todo mundo há uma história de sucesso que podemos ajudar a tornar realidade.
    </p>

    <ion-button color="dark" class="ion-margin-vertical" expand="block" routerLink="/contacts">Fale conosco</ion-button>

</ion-content>