<ion-header>
  <ion-toolbar>

    <ion-title>Entrar / Login</ion-title>
    <ion-img src="assets/em01.jpg" slot="end" class="logo-geral"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal ion-padding-bottom">

  <div class="meio">
  <ion-img src="assets/em01.jpg" class="logo-login"></ion-img>
  </div>
 <p class="ion-text-center"><b>SEJA BEM VINDO(a)</b></p>
  <p class="ion-text-center"><small>Você precisa ter uma conta do Google (Gmail).</small></p>
  
  <ion-button (click)="login()" color="dark" expand="block">
  
    <ion-icon name="person-circle-outline"></ion-icon>
    Fazer Login
  </ion-button>

</ion-content>